* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage-one {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 100px;
}

.homepage-two {
    display: flex;
    justify-content: space-between;
    width: 22%;
    align-items: center;
}

.homepage-three {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    width: 142px;
}

.homepage-three img {
    width: 100%;
    height: 100%;
}

.homepage-four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    font-size: 28px;
    font-weight: 800;
}

.homepage-four h1 {
    margin-left: 50px;
}

.homepage-five {
    display: flex;
    align-items: center;
    width: 12%;
}

.homepage-six {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    font-weight: 800;
}

.homepage-six h1 {
    margin-top: 0px;
}

.homepage-seven {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    /* margin-top: 12px; */
}

.homepage-seven img {
    width: 100%;
    height: 100%;
}

.teacher-one {
    border: 1px solid black;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.teacher-two {
    width: 100%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.teacher-three {
    border: 1px solid black;
    width: 30%;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.teacher-three h1 {
    margin: 0;
}

.teacher-four {
    border: 1px solid black;
    width: 65%;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacher-four h1 {
    margin: 0;
}

.teacher-five {
    width: 97%;
    margin: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.teacher-six {
    border-bottom: 1px solid black;
    width: 25%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38px;
}

.teacher-seven {
    border-bottom: 1px solid black;
    width: 53%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 214px;
}

.teacher-twentyone {
    text-align: right;
    margin-top: 30px;
}

.teacher-eight {
    font-size: 20px;
    margin-right: 30px;
}

.teacher-nine {
    font-size: 20px;
}

.teacher-date {
    margin: 10px;
    margin-bottom: 10px !important;
}

.teacher-ten {
    margin: 10px;
    height: 32px;
    width: 15%;
}

.teacher-input {
    width: 20%;
    margin: 10px;
    height: 32px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.teacher-eleven {
    /* border: 1px solid black; */
    width: 95%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    height: auto;
}

.teacher-twelve {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.teacher-thirteen {
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.teacher-fifteen {
    font-weight: 800;
}

.teacher-sixteen {
    width: 10%;
    height: 100%;
    border-radius: 20px;
}

.teacher-seventeen {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.teacher-eighteen {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teacher-nineteen {
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.teacher-twenty {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacher-main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.student-one {
    width: 11.11%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.student-dash {
    margin-bottom: 30px;
}

.student-drive {
    margin-top: 40px;
    margin-bottom: 40px;
}

.drive-dash {
    width: 20%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.drive-one {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
}

.drive-btn {
    width: 60%;
    height: 30%;
    font-size: 16px;
}

.review-dash {
    width: 25%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.show-dash {
    width: 14.28%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.show-data {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}

.attendance-dash {
    width: 33.33%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.status-design {
    border: 1px solid black;
    width: 27%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 22px;
}

.attendance-lelo {
    /* border: 1px solid black; */
    width: 69%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    height: auto;
}

.complain-one {
    margin-bottom: 20px;
}

.complain-form {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    height: auto;
    margin-top: 10%;
}

label {
    text-align: left;
    margin-bottom: 15px;
    font-weight: 600;
}

.react-datepicker__input-container input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
}

.complain-input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
}

.complain-btn {
    margin-top: 25px;
    height: 40px;
    margin-bottom: 0px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.student-mark {
    width: 16.66%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.performance-dash {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    margin: auto;
    margin-top: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    height: 480px;
    margin-top: 8%;
}

.teacher-filter {
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    height: 70px;
}

.teacher-filter-one {
    width: 24%;
}

.create-sub {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    margin: auto;
    margin-top: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    margin-top: 10%;
}

.mul-attendance {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    margin: auto;
    margin-top: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    margin-top: 5%;
}

.mul-student {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mul-label {
    margin-bottom: 0;
    font-size: 18px;
    margin-left: 15px;
}

.mul-student-check {
    margin-top: 4px;
}

#mul-label {
    margin-top: 15px;
}

.mul-review-one {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid black; */
}

.review-date {
    margin-bottom: 0px !important;
}

.mul-datepicker {
    margin-right: 20px;
    display: flex;
    width: 20%;
    align-items: center;
}

.review-sub {
    margin-right: 20px;
    margin-bottom: 0;
}

.review-two {
    margin-bottom: 0;
}

.review-three {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    margin: auto;
    margin-top: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    margin-top: 7%;
}

.review-dash {
    width: 50%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-input {
    width: 73%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
}

.review-btn {
    height: 40px;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 25px;
}

.update-form {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    margin-top: 6%;
}

.register-form {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    margin-top: 2%;
}

.register-profile {
    font-size: 16px;
    margin-bottom: 15px;
}

.register-one {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    margin: auto;
    margin-top: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-top: 2%;
}

.register-two {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
}

.register-three {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1%;
}

.register-input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid black;
    padding-left: 10px;
}

.register-four {
    /* border: 1px solid black; */
    width: 48%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 11px;
}

.register-five {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1%;
}

.register-six {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 11px;
}

.register-btn {
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    border: 1px solid black;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 18px;
}

.register-h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
}

.office-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.office-login button {
    width: 11%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 2%;
    margin-right: 1%;
    font-size: 16px;
    font-weight: 800;
}

.main-one {
    width: 55%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-top: 10%;
    /* border: 1px solid black;  */
}

.main-h1 {
    margin-top: 20px;
}

.main-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-three {
    width: 19%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background: #edf8fa;
}

.icon {
    width: 75px;
    height: 75px;
    fill: #272566;
    margin-bottom: 10px;
}

.teach-btn {
    margin-top: 30px;
    cursor: pointer;
    color: #272566;
    font-weight: 600;
}

.forget-para {
    margin-bottom: 30px;
    font-size: 14px;
}

.forget-form {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    margin: auto;
    margin-top: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    margin-top: 7%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.back-btn {
    margin-top: 25px;
    height: 40px;
    margin-bottom: 0px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

.forgot {
    display: inline-block;
    cursor: pointer;
    text-align: left;
}

.forgot-icon {
    width: 75px;
    height: 75px;
    /* fill: #272566; */
    margin-bottom: 10px;
}

.forgot-btn {
    margin-top: 20px;
    height: 40px;
    margin-bottom: 0px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.forgotpara {
    text-align: left;
    margin-bottom: 15px;
    font-size: 14px;
}

.course-one {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.course-label {
    margin-bottom: 0px;
}

.course-content {
    width: 41%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.complain-dash {
    width: 14.28%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.admin-list {
    width: 25%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.student-item-one {
    border: 1px solid black;
    width: 100%;
    /* padding-top: 20px;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-item-two {
    border: 1px solid black;
    width: 20%;
    height: 1042px;
    margin-top: 25px;
}

.student-subitem-one {
    border: 1px solid black;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    padding: 10px;
    background-color: #edf8fa;
    margin-top: 30px;
    cursor: pointer;
}

.student-subitem-two {
    /* border: 1px solid black; */
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#traning{
    width: 30%;
}

.student-subitem-two>p {
    margin-left: 8px;
}

.student-subitem-three {
    /* border: 1px solid black; */
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#forgot-icon {
    width: 25px;
    height: 25px;
    margin-bottom: 0;
}


/* .student-subitem-four {
    border: 1px solid black;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    padding: 10px;
    background-color: #edf8fa;
    margin-top: 30px;
} */


.student-item-three {
    border: 1px solid black;
    width: 79%;
    border-top-left-radius: 20px;
    margin-top: 25px;
    height: 1045px;
}

.adminname {
    margin-top: 30px;
    margin-bottom: 30px;
}

.all-one {
    /* border: 1px solid black; */
    width: 100%;
    margin: auto;
    /* padding: 20px; */
    border-radius: 20px;
    height: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    border-radius: 10px;
}

.all-two {
    border: 1px solid black;
    width: 2500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.all-three {
    width: 2500px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.all-date {
    width: 80%;
    margin-bottom: 0px !important;
}

.all-month {
    margin-bottom: 0px;
}

.all-four {
    width: 24%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-data {
    width: 8.33%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#hamburg-icon {
    background-color: blue;
    width: 25px;
    height: 25px;
}

#cross-icon {
    width: 25px;
    height: 25px;
    position: relative;
    left: -10px;
}

.menu {
    position: fixed;
    top: 203px;
    left: -281px;
    width: 281px;
    /* height: 1042px; */
    height: calc(100% - 203px);
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1000;
    max-height: calc(100% - 203px);
    overflow-y: auto;
}

.menu.open {
    left: 0;
}

.menu-item {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.hamburg-icon-container,
.cross-icon-container {
    position: fixed;
    left: 15px;
    cursor: pointer;
    z-index: 1001;
}

.cross-icon-container {
    display: none;
}

.menu.open~.cross-icon-container {
    display: block;
}

.menu.open~.hamburg-icon-container {
    display: none;
}

.punchtime {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.punch-one {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    margin: auto;
    margin-top: auto;
    margin-top: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    margin-top: 3%;
}

.attendance-edit {
    width: 69%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attendance-edit-btn button {
    font-size: 20px;
}

#employee-label {
    margin-bottom: 0px;
}

#employedate {
    margin-bottom: 0px;
}

.term-main {
    text-align: left;
    max-height: 324px;
    overflow-y: auto;
    font-size: 10px;
}

.term-one {
    font-size: 20px;
    margin-bottom: 25px;
}

.term-two {
    font-weight: 600;
    margin-bottom: 15px;
}

.term-three {
    margin-bottom: 15px;
}

.term-btn-five {
    padding-top: 15px;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.term-btn-five button {
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
}


@media screen and (min-width:1280px) and (max-width:4000px) {
    .dashboard-hide {
        display: none;
        visibility: hidden;
    }
}


@media screen and (min-width:1280px) and (max-width:1536px) {
    .update-form {
        width: 30%;
    }

    .main-one {
        width: 55%;
    }
}

@media screen and (min-width:600px) and (max-width:1199px) {
    .update-form {
        width: 70%;
    }

    .office-login button {
        width: 25%;
    }

    .student-subitem-two {
        width: 88%;
    }
}

@media screen and (min-width:321px) and (max-width:599px) {
    .update-form {
        width: 85%;
        margin-top: 17%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .complain-one {
        font-size: 20px;
    }

    .office-login button {
        width: 46%;
    }

    .teach-btn {
        font-size: 14px;
    }

    .forget-form {
        width: 90%;
    }
}

@media screen and (min-width:1px) and (max-width:320px) {
    .update-form {
        width: 85%;
        margin-top: 17%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .complain-one {
        font-size: 20px;
    }

    .office-login button {
        width: 46%;
        margin-right: 5%;
        font-size: 14px;
    }

    label {
        font-size: 14px;
        margin-bottom: 7px;
    }

    .complain-input {
        height: 33px;
    }

    .login-input {
        height: 33px;
    }

    .forgot {
        font-size: 14px;
    }

    .teach-btn {
        font-size: 13px;
    }

    .forget-form {
        width: 90%;
    }
}


@media screen and (min-width:800px) and (max-width:1199px) {
    .main-one {
        width: 80%;
    }

    .icon {
        width: 65px;
        height: 65px;
    }

    .main-three {
        width: 25%;
    }
}

@media screen and (min-width:600px) and (max-width:799px) {
    .main-one {
        width: 80%;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .main-three {
        width: 40%;
    }
}

@media screen and (min-width:321px) and (max-width:599px) {
    .main-one {
        width: 95%;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    .main-three {
        width: 40%;
    }

    .teacher-fifteen {
        font-size: 14px;
    }

    .main-h1 {
        font-size: 20px;
    }
}

@media screen and (min-width:1px) and (max-width:320px) {
    .main-one {
        width: 100%;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    .main-three {
        width: 40%;
    }

    .teacher-fifteen {
        font-size: 14px;
    }

    .main-h1 {
        font-size: 20px;
    }
}


/* Student Register */

@media screen and (min-width:1280px) and (max-width:1536px) {
    .register-one {
        width: 90%;
    }
}

@media screen and (min-width:800px) and (max-width:1199px) {
    .register-one {
        width: 95%;
    }

    .register-h1 {
        font-size: 28px;
    }
}

@media screen and (min-width:600px) and (max-width:799px) {
    .register-one {
        width: 95%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .register-h1 {
        font-size: 24px;
    }

    .register-two {
        font-size: 20px;
    }

    .register-profile {
        font-size: 14px;
    }

    .register-btn {
        font-size: 16px;
    }
}

@media screen and (min-width:321px) and (max-width:599px) {
    .register-h1 {
        font-size: 20px;
    }

    .register-one {
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .register-two {
        font-size: 16px;
    }

    label {
        font-size: 12px;
    }

    .register-profile {
        font-size: 14px;
    }

    .register-btn {
        font-size: 16px;
        width: 30%;
    }

    .register-four {
        width: 100%;
    }

    .register-six {
        width: 100%;
    }
}


@media screen and (min-width:1px) and (max-width:320px) {
    .register-h1 {
        font-size: 20px;
    }

    .register-one {
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .register-two {
        font-size: 16px;
    }

    label {
        font-size: 12px;
    }

    .register-profile {
        font-size: 14px;
    }

    .register-btn {
        font-size: 16px;
        width: 30%;
    }

    .register-four {
        width: 100%;
    }

    .register-six {
        width: 100%;
    }
}

/* teacher dashboard */

@media screen and (min-width:1601px) and (max-width:1919px) {
    .teacher-seven {
        margin-left: 196px;
    }
}


@media screen and (min-width:1440px) and (max-width:1600px) {
    .teacher-one {
        width: 95%;
    }

    .teacher-three {
        height: 45px;
    }

    .teacher-three h1 {
        font-size: 24px;
    }

    .teacher-four {
        height: 45px;
    }

    .teacher-four h1 {
        font-size: 24px;
    }

    .teacher-six {
        margin-left: 27px;
    }

    .teacher-seven {
        margin-left: 178px;
    }

    .teacher-filter {
        width: 95%;
    }

    .teacher-fifteen {
        font-size: 16px;
    }
}

@media screen and (min-width:1536px) and (max-width:1699px) {
    .teacher-six {
        margin-left: 36px;
    }

    .teacher-seven {
        margin-left: 178px;
    }
}


@media screen and (min-width:1366px) and (max-width:1439px) {
    .teacher-one {
        width: 95%;
    }

    .teacher-three {
        height: 45px;
    }

    .teacher-three h1 {
        font-size: 24px;
    }

    .teacher-four {
        height: 45px;
    }

    .teacher-four h1 {
        font-size: 24px;
    }

    .teacher-six {
        margin-left: 27px;
    }

    .teacher-seven {
        margin-left: 165px;
    }

    .teacher-filter {
        width: 95%;
    }

    .teacher-fifteen {
        font-size: 16px;
    }
}

@media screen and (min-width:1280px) and (max-width:1365px) {
    .teacher-one {
        width: 95%;
    }

    .teacher-three {
        height: 45px;
    }

    .teacher-three h1 {
        font-size: 24px;
    }

    .teacher-four {
        height: 45px;
    }

    .teacher-four h1 {
        font-size: 24px;
    }

    .teacher-six {
        margin-left: 27px;
    }

    .teacher-seven {
        margin-left: 150px;
    }

    .teacher-filter {
        width: 95%;
    }

    .teacher-fifteen {
        font-size: 16px;
    }
}

@media screen and (min-width:800px) and (max-width:1199px) {
    .teacher-one {
        width: 95%;
    }

    .teacher-two {
        height: 75px;
    }

    .teacher-three {
        height: 45px;
        border-radius: 10px;
        width: 24%;
    }

    .teacher-three h1 {
        font-size: 24px;
    }

    .teacher-four {
        height: 45px;
        border-radius: 10px;
        width: 55%;
    }

    .teacher-four h1 {
        font-size: 24px;
    }

    .teacher-five {
        margin-top: 0px;
    }

    .teacher-six {
        margin-left: 45px;
        width: 20%;
    }

    .teacher-seven {
        margin-left: 133px;
        width: 47%;
    }

    .teacher-main {
        font-size: 24px;
    }

    .teach-h1 {
        font-size: 24px;
    }

    .teacher-eight {
        font-size: 18px;
        margin-right: 0px;
    }

    .teacher-twentyone {
        display: flex;
        justify-content: space-evenly;
    }

    .teacher-filter {
        width: 95%;
        padding: 0;
        border: none;
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .teacher-filter-one {
        width: 19%;
    }

    .react-datepicker__input-container input {
        height: 32px;
        width: 85%;
        border-radius: 5px;
    }

    .teacher-ten {
        width: 21%;
    }

    #date-hide {
        display: none;
    }

    .teacher-input {
        border-radius: 5px;
    }

    .teacher-eleven {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        border-radius: 10px;
        padding-top: 6px;
        padding-left: 0px;
    }

    .teacher-twelve {
        display: flex;
        width: 1200px;
    }

    .teacher-thirteen,
    .teacher-nineteen,
    .teacher-twenty {
        width: 15%;
    }

    .teacher-seventeen {
        width: 1200px;
    }

    .teacher-fifteen {
        font-size: 14px;
    }
}


@media screen and (min-width:600px) and (max-width:799px) {
    .teacher-one {
        width: 95%;
    }

    .teacher-two {
        height: 75px;
    }

    .teacher-three {
        height: 45px;
        border-radius: 10px;
        width: 24%;
    }

    .teacher-three h1 {
        font-size: 24px;
    }

    .teacher-four {
        height: 45px;
        border-radius: 10px;
        width: 55%;
    }

    .teacher-four h1 {
        font-size: 24px;
    }

    .teacher-five {
        margin-top: 0px;
    }

    .teacher-six {
        margin-left: 33px;
        width: 20%;
    }

    .teacher-seven {
        margin-left: 97px;
        width: 47%;
    }

    .teacher-main {
        font-size: 24px;
    }

    .teach-h1 {
        font-size: 24px;
    }

    .teacher-eight {
        font-size: 18px;
        margin-right: 0px;
    }

    .teacher-twentyone {
        display: flex;
        justify-content: space-evenly;
    }

    .teacher-filter {
        width: 95%;
        padding: 0;
        border: none;
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .teacher-filter-one {
        width: 19%;
    }

    .react-datepicker__input-container input {
        height: 32px;
        width: 85%;
        border-radius: 5px;
    }

    .teacher-ten {
        width: 21%;
    }

    #date-hide {
        display: none;
    }

    .teacher-input {
        border-radius: 5px;
    }

    .teacher-eleven {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        border-radius: 10px;
        padding-top: 6px;
        padding-left: 0px;
    }

    .teacher-twelve {
        display: flex;
        width: 1200px;
    }

    .teacher-thirteen,
    .teacher-nineteen,
    .teacher-twenty {
        width: 15%;
    }

    .teacher-seventeen {
        width: 1200px;
    }

    .teacher-fifteen {
        font-size: 14px;
    }
}

@media screen and (min-width:321px) and (max-width:599px) {
    .teacher-main {
        font-size: 20px;
    }

    .teacher-three h1 {
        font-size: 18px;
    }

    .teacher-three {
        height: 30px;
        border-radius: 10px;
    }

    .teacher-four {
        height: 30px;
        width: 55%;
        border-radius: 10px;
    }

    .teacher-four h1 {
        font-size: 18px;
    }

    .teacher-five {
        margin-top: 0;
    }

    .teacher-six {
        font-size: 14px;
        margin-left: 16px;
    }

    .teacher-two {
        height: 45px;
    }

    .teacher-seven {
        margin-left: 60px;
        width: 43%;
        font-size: 14px;
    }

    .teach-h1 {
        font-size: 20px;
    }

    .teacher-eight {
        font-size: 14px;
        margin-right: 0px;
        width: 35%;
    }

    .teacher-twentyone {
        display: flex;
        justify-content: space-evenly;
    }

    .teacher-filter {
        flex-wrap: wrap;
        padding: 0;
        height: 100px;
        border-radius: 10px;
        width: 90%;
        margin-bottom: 33px;
        margin-top: 33px;
    }

    .teacher-filter-one {
        width: 45%;
    }

    .teacher-ten {
        width: 45%;
        height: 20px;
    }

    #date-hide {
        display: none;
    }

    .react-datepicker__input-container input {
        width: 81%;
        height: 21px;
        border-radius: 5px;
    }

    .teacher-input {
        width: 41%;
        height: 21px;
        border-radius: 5px;
    }

    .teacher-eleven {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        border-radius: 10px;
    }

    .teacher-twelve {
        display: flex;
        width: 950px;
    }

    .teacher-thirteen,
    .teacher-nineteen,
    .teacher-twenty {
        width: 15%;
    }

    .teacher-seventeen {
        width: 950px;
    }

    .teacher-nineteen p {
        font-size: 12px;
    }
}


@media screen and (min-width:1px) and (max-width:320px) {
    .teacher-main {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .teacher-one {
        margin-bottom: 30px;
    }

    .teacher-three h1 {
        font-size: 16px;
    }

    .teacher-three {
        height: 27px;
        border-radius: 10px;
        width: 25%;
    }

    .teacher-four {
        height: 27px;
        width: 47%;
        border-radius: 10px;
    }

    .teacher-four h1 {
        font-size: 16px;
    }

    .teacher-five {
        margin-top: 0;
        height: 48px;
    }

    .teacher-six {
        font-size: 14px;
        margin-left: 16px;
        height: 36px;
    }

    .teacher-two {
        height: 45px;
    }

    .teacher-seven {
        margin-left: 45px;
        width: 43%;
        font-size: 14px;
        height: 36px;
    }

    .teach-h1 {
        font-size: 20px;
    }

    .teacher-eight {
        font-size: 14px;
        margin-right: 0px;
        width: 41%;
    }

    .teacher-twentyone {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .teacher-filter {
        flex-wrap: wrap;
        padding: 0;
        height: 100px;
        border-radius: 10px;
        width: 90%;
        margin-bottom: 28px;
        margin-top: 33px;
    }

    .teacher-filter-one {
        width: 45%;
    }

    .teacher-ten {
        width: 45%;
        height: 20px;
    }

    #date-hide {
        display: none;
    }

    .react-datepicker__input-container input {
        width: 81%;
        height: 21px;
        border-radius: 5px;
    }

    .teacher-input {
        width: 41%;
        height: 21px;
        border-radius: 5px;
    }

    .teacher-eleven {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        border-radius: 10px;
    }

    .teacher-twelve {
        display: flex;
        width: 950px;
    }

    .teacher-thirteen,
    .teacher-nineteen,
    .teacher-twenty {
        width: 15%;
    }

    .teacher-seventeen {
        width: 950px;
        margin-top: 14px;
    }

    .teacher-fifteen {
        font-size: 12px;
    }

    .teacher-nineteen p {
        font-size: 12px;
    }
}

/* Addstudentmarks */

@media screen and (min-width:600px) and (max-width:1199px) {
    .show-data {
        width: 1200px;
        display: flex;
    }

    .student-drive {
        font-size: 24px;
    }
}

@media screen and (min-width:1px) and (max-width:599px) {
    .show-data {
        width: 950px;
        display: flex;
    }

    .student-drive {
        font-size: 24px;
    }
}

/* addstudentattendance */

@media screen and (min-width:1601px) and (max-width:1760px) {
    .complain-form {
        width: 30%;
    }
}

@media screen and (min-width:1441px) and (max-width:1600px) {
    .complain-form {
        width: 35%;
    }
}

@media screen and (min-width:1367px) and (max-width:1440px) {
    .complain-form {
        width: 35%;
    }
}

@media screen and (min-width:1280px) and (max-width:1366px) {
    .complain-form {
        width: 35%;
    }
}

@media screen and (min-width:600px) and (max-width:1199px) {
    .complain-form {
        width: 70%;
    }

    .date-css {
        width: 100% !important;
        height: 40px !important;
        border-radius: 10px !important;
    }
}

@media screen and (min-width:321px) and (max-width:599px) {
    .complain-form {
        width: 85%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .date-css {
        width: 100% !important;
        height: 40px !important;
        border-radius: 10px !important;
    }
}

@media screen and (min-width:1px) and (max-width:320px) {
    .complain-form {
        width: 85%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .date-css {
        width: 100% !important;
        height: 40px !important;
        border-radius: 10px !important;
    }
}

/* attendancetrack */

@media screen and (min-width:1280px) and (max-width:1600px) {
    .attendance-lelo {
        width: 90%;
    }
}

@media screen and (min-width:600px) and (max-width:1199px) {
    .attendance-lelo {
        width: 90%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        border-radius: 10px;
        padding-left: 0;
    }

    #attendacetrack {
        display: flex;
        width: 710px;
    }

    .status-design {
        width: 58%;
    }
}

@media screen and (min-width:321px) and (max-width:599px) {
    .attendance-lelo {
        width: 90%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        border-radius: 10px;
        padding-left: 0;
    }

    #attendacetrack {
        display: flex;
        width: 530px;
    }

    .status-design {
        width: 58%;
    }

    .attendance-dash p {
        font-size: 16px;
    }
}

@media screen and (min-width:1px) and (max-width:320px) {
    .attendance-lelo {
        width: 90%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        border-radius: 10px;
        padding-left: 0;
    }

    #attendacetrack {
        display: flex;
        width: 530px;
    }

    .status-design {
        width: 58%;
    }

    .attendance-dash p {
        font-size: 14px;
    }
}


/* createsubject */

@media screen and (min-width:1280px) and (max-width:1440px) {
    .create-sub {
        width: 35%;
    }
}

@media screen and (min-width:600px) and (max-width:1199px) {
    .create-sub {
        width: 65%;
    }

    .date-css {
        width: 100% !important;
        height: 40px !important;
        border-radius: 10px !important;
    }
}

@media screen and (min-width:321px) and (max-width:599px) {
    .create-sub {
        width: 85%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .date-css {
        width: 100% !important;
        height: 40px !important;
        border-radius: 10px !important;
    }
}

@media screen and (min-width:1px) and (max-width:320px) {
    .create-sub {
        width: 85%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .date-css {
        width: 100% !important;
        height: 40px !important;
        border-radius: 10px !important;
    }
}


/* multipleattendance */


@media screen and (min-width:600px) and (max-width:1919px) {
    .mul-attendance {
        width: 75%;
    }

    .date-css {
        width: 100% !important;
        height: 40px !important;
        border-radius: 10px !important;
    }
}

@media screen and (min-width:1601px) and (max-width:1760px) {
    .mul-attendance {
        width: 29%;
    }
}

@media screen and (min-width:1280px) and (max-width:1600px) {
    .mul-attendance {
        width: 41%;
    }
}

@media screen and (min-width:800px) and (max-width:1199px) {
    .mul-attendance {
        width: 48%;
    }
}

@media screen and (min-width:600px) and (max-width:799px) {
    .mul-attendance {
        width: 65%;
    }
}



@media screen and (min-width:321px) and (max-width:599px) {
    .mul-attendance {
        width: 85%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .date-css {
        width: 100% !important;
        height: 40px !important;
        border-radius: 10px !important;
    }
}

@media screen and (min-width:1px) and (max-width:320px) {
    .mul-attendance {
        width: 85%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .date-css {
        width: 100% !important;
        height: 40px !important;
        border-radius: 10px !important;
    }
}


/* AddDriveLink */
@media screen and (min-width:600px) and (max-width:1199px) {
    .drive-one {
        display: flex;
        width: 1200px;
    }
}

@media screen and (min-width:1px) and (max-width:599px) {
    .drive-one {
        display: flex;
        width: 950px;
    }

    .drive-dash {
        font-size: 14px;
    }
}

@media screen and (min-width:1px) and (max-width:599px) {
    .adminname {
        font-size: 20px;
    }

    .admin-list {
        font-size: 14px;
    }
}

@media screen and (min-width:1601px) and (max-width:1760px) {
    .student-subitem-two {
        width: 67%;
    }
}

@media screen and (min-width:1280px) and (max-width:1600px) {
    .student-item-two {
        width: 24%;
    }

    .student-subitem-two {
        width: 75%;
    }

    .student-item-three {
        width: 75%;
    }


}

@media screen and (min-width:1440px) and (max-width:1600px) {
    .course-one {
        width: 46%;
    }
}

@media screen and (min-width:1280px) and (max-width:1365px) {
    .course-one {
        width: 55%;
    }
}

@media screen and (min-width:1px) and (max-width:599px) {
    #forgot-icon {
        width: 20px;
        height: 20px;
    }

    .student-subitem-two>p {
        font-size: 14px;
    }

    .student-subitem-one {
        width: 88%;
    }

    .menu {
        width: 213px;
        top: 125px;
        height: 1500px;
    }

    .student-subitem-two {
        width: 79%;
    }

    #cross-icon {
        top: 6px;
    }

    #hamburg-icon {
        position: relative;
        left: -10px;
        width: 20px;
        height: 20px
    }
}

@media screen and (min-width:1px) and (max-width:320px) {
    .all-data {
        font-size: 12px;
    }
}

@media screen and (min-width:800px) and (max-width:1919px) {
    .homepage-five {
        width: 20%;
    }
}

@media screen and (min-width:600px) and (max-width:799px) {
    .homepage-five {
        width: 25%;
    }
}

@media screen and (min-width:321px) and (max-width:599px) {
    .homepage-five {
        width: 25%;
    }

    .homepage-four {
        justify-content: center;
        width: 32%;
        font-size: 20px;
    }

    #traning{
        width: 85%;
    }

}

@media screen and (min-width:1px) and (max-width:320px) {
    .homepage-five {
        width: 25%;
    }

    .homepage-four {
        justify-content: center;
        width: 32%;
        font-size: 18px;
    }

    .homepage-six {
        font-size: 16px;
    }

    #traning{
        width: 85%;
    }

}